@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Goblin+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Notable&display=swap");

/* STYLES */

/*PSUEDO STYLING*/

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0);
  margin: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 5px;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  @apply text-gray-600 font-medium;
  opacity: 1;
  /* Firefox */
}

::-ms-input-placeholder {
  /*Microsoft Edge */
  @apply text-gray-600 font-medium;
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* fonts */
.font-goblin {
  font-family: "Goblin One", cursive;
}

.font-poppins-700 {
  font-family: "Poppins", sans-serif;
}

.font-notable {
  font-family: "Notable", sans-serif;
}

.active {
  @apply rounded-lg;
}

.active-nav {
  @apply text-black;
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}

.main-home,
.about {
  height: calc(100vh - 5rem);
}

.hover-none:hover {
  filter: none;
}

.snap-parent {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.snap-children {
  scroll-snap-align: start;
}
